:host {
  --acim-teal-100: #cee8e9;
  --acim-teal-600: #107180;
  --acim-teal-700: #1a5b6e;
  --acim-color: white;
  --acim-padding: 30px;
  --acim-offset: 0px;
  --acim-outline: white;
}
:host,
:host button {
  font-family: "Archivo", sans-serif;
}
.acim-universal {
  --acim-background: var(--acim-teal-700);
  --acim-border: rgba(19, 133, 151, 0.35);
}
.acim-site {
  --acim-background: var(--acim-teal-600);
  --acim-border: #157688;
}
.acim-site ul ul {
  --acim-border: rgba(19, 133, 151, 0.35);
}
.acim-menu ul,
.acim-menu li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.acim-menu a {
  text-decoration: none;
}
.acim-item {
  background: transparent;
  border: 0 none transparent;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  text-align: left;
  width: 100%;
}
.acim-item {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  padding: 13.5px var(--acim-padding) 13.5px;
}
.acim-menu > ul > li > .acim-item {
  font-weight: 800;
}
.acim-item,
.acim-menu > .acim-expanded {
  border-bottom: 1px solid var(--acim-border);
}
.acim-expanded,
.acim-icon-search .acim-item,
.acim-menu li:last-child > .acim-item,
.acim-menu > .acim-collapsed {
  border-bottom: 0 none transparent;
}
.acim-menu > button {
  text-transform: uppercase;
}
.acim-menu button {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'><path fill='white' d='M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z'/></svg>");
  background-position: calc(100% - var(--acim-padding) - var(--acim-offset))
    center;
  background-repeat: no-repeat;
  background-size: 14px 24px;
}
.acim-menu button.acim-expanded {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'><path fill='white' d='m 182.62211,201.27501 c -12.5,-12.5 -32.8,-12.5 -45.3,0 L 9.322106,329.275 c -9.19999996,9.2 -11.9,22.9 -6.9,34.9 5,12 16.6,19.8 29.6,19.8 l 256.000004,-0.1 c 12.9,0 24.6,-7.8 29.6,-19.8 5,-12 2.2,-25.7 -6.9,-34.9 l -128,-127.99999 z'/></svg>");
}
.acim-menu button,
.acim-menu ul li {
  background-color: var(--acim-background);
}
.acim-menu button,
.acim-menu ul li a {
  color: var(--acim-color);
}
.acim-menu ul li li {
  background-color: white;
}
.acim-menu ul li li a {
  color: rgb(19, 133, 151);
}
.acim-icon > .acim-item {
  background-position: calc(var(--acim-padding) + var(--acim-offset)) center;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  text-indent: -99999px;
}
.acim-icon-home > .acim-item {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' fill='white'><path d='M543.8 287.6c17 0 32-14 32-32.1c1-9-3-17-11-24L512 185V64c0-17.7-14.3-32-32-32H448c-17.7 0-32 14.3-32 32v36.7L309.5 7c-6-5-14-7-21-7s-15 1-22 8L10 231.5c-7 7-10 15-10 24c0 18 14 32.1 32 32.1h32v69.7c-.1 .9-.1 1.8-.1 2.8V472c0 22.1 17.9 40 40 40h16c1.2 0 2.4-.1 3.6-.2c1.5 .1 3 .2 4.5 .2H160h24c22.1 0 40-17.9 40-40V448 384c0-17.7 14.3-32 32-32h64c17.7 0 32 14.3 32 32v64 24c0 22.1 17.9 40 40 40h24 32.5c1.4 0 2.8 0 4.2-.1c1.1 .1 2.2 .1 3.3 .1h16c22.1 0 40-17.9 40-40V455.8c.3-2.6 .5-5.3 .5-8.1l-.7-160.2h32z'/></svg>");
}
.acim-icon-search > .acim-item {
  background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='18' height='18' viewBox='0 0 100 100'><path fill='white' class='st0' d='M98.22,92.72l-5.48,5.47c-1.8,1.82-4.74,1.82-6.55,0L66.9,78.9c-0.87-0.87-1.35-2.05-1.35-3.29v-3.15 c-6.83,5.34-15.42,8.51-24.76,8.51c-22.23,0-40.24-18.01-40.24-40.24S18.55,0.49,40.78,0.49S81.02,18.5,81.02,40.73 c0,9.34-3.18,17.94-8.51,24.76h3.15c1.24,0,2.42,0.48,3.29,1.35l19.29,19.29C100.03,87.95,100.03,90.89,98.22,92.72z M65.54,40.73 c0-13.7-11.08-24.76-24.76-24.76c-13.7,0-24.76,11.08-24.76,24.76c0,13.7,11.08,24.76,24.76,24.76 C54.47,65.49,65.54,54.41,65.54,40.73z'></path></svg>");
}
.acim-icon-hamburger > .acim-item,
.acim-icon-hamburger > .acim-item.acim-expanded {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='white'><path d='M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z'/></svg>");
}
.acim-track .acim-item {
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
}
.acim-track:not(.acim-grow) .acim-item {
  border-bottom: 0 none transparent;
}
.acim-track.acim-grow .acim-item {
  padding-bottom: 10px;
}
.acim-hamburger > button {
  display: none;
}
.acim-footer {
  background-color: var(--acim-teal-700);
  color: white;
}
.acim-columns {
  margin: 0 auto;
  padding: 50px var(--acim-padding) 36px;
  width: var(--acim-width);
}
.acim-column {
  padding-bottom: 14px;
}
.acim-footer a,
.acim-footer a:visited {
  color: white;
  text-decoration: none;
}
.acim-footer a:active,
.acim-footer a:focus,
.acim-footer a:hover {
  color: var(--acim-teal-100);
  text-decoration: underline;
}
.acim-footer h2 {
  font-size: 14px;
  font-weight: 800;
  margin: 0;
}
.acim-footer ul {
  margin: 0;
  padding: 0;
}
.acim-footer li {
  font-size: 14px;
  font-weight: 600;
  list-style-type: none;
  padding: 14px 0 0;
}
@media (min-width: 600px) {
  :host {
    --acim-padding: calc((100% - var(--acim-width)) / 2);
    --acim-offset: 7px;
    --acim-width: 540px;
  }
}
@media (min-width: 768px) {
  :host {
    --acim-width: 712px;
  }
  .acim-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px 0 10px;
  }
  .acim-column {
    padding-bottom: 40px;
    padding-right: 20px;
    width: calc((var(--acim-width) - 60px) / 4);
  }
  .acim-column:nth-child(4),
  .acim-column:last-child {
    padding-right: 0;
  }
}
@media (min-width: 900px) {
  :host {
    --acim-padding: 10px;
    --acim-offset: 0px;
    --acim-width: 840px;
  }
  .acim-site {
    --acim-background: white;
    --acim-color: var(--acim-teal-600);
    --acim-outline: var(--acim-teal-700);
    --acim-padding: 20px;
    border-bottom: 1px solid #d9d9d9;
    border-top: 3px solid var(--acim-teal-700);
  }
  .acim-site > ul {
    justify-content: end;
  }
  .acim-menu > button {
    display: none;
  }
  .acim-menu > ul {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: calc(var(--acim-width) + (2 * var(--acim-padding)));
  }
  .acim-item,
  .acim-track .acim-item {
    border-bottom: 0 none transparent;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .acim-site .acim-item {
    font-size: 16px;
  }
  .acim-grow {
    flex: 1 0 auto;
  }
  .acim-universal {
    background-color: var(--acim-teal-700);
  }
  .acim-icon > .acim-item {
    background-position: center center;
    width: 56px;
  }
  .acim-menu button,
  .acim-menu button.acim-expanded {
    background-image: none;
  }
  .acim-hamburger > button {
    display: block;
  }
  .acim-menu > ul > li {
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: relative;
  }
  .acim-menu > ul > li.acim-grow > .acim-item {
    flex: 0 1 0;
  }
  .acim-menu > ul > li > .acim-expanded,
  .acim-menu > ul > li > .acim-item:active,
  .acim-menu > ul > li > .acim-item:focus,
  .acim-menu > ul > li > .acim-item:hover {
    background-color: var(--acim-teal-600);
    color: white;
    outline: 0 none transparent;
  }
  .acim-menu > ul > li > .acim-item:focus-visible {
    outline: 3px solid var(--acim-outline);
    outline-offset: -3px;
    z-index: 1000;
  }
  .acim-menu > ul ul {
    background-color: var(--acim-teal-600);
    padding: 10px 0;
    position: absolute;
    right: 0;
    top: 48px;
    z-index: 9999;
  }
  .acim-menu > ul ul li {
    background-color: var(--acim-teal-600);
  }
  .acim-menu > ul ul .acim-item {
    color: white;
    white-space: nowrap;
    padding: 5px 20px;
  }
  .acim-menu > ul ul .acim-item:active,
  .acim-menu > ul ul .acim-item:focus,
  .acim-menu > ul ul .acim-item:hover {
    color: #cee8e9;
    outline: 0 none transparent;
    text-decoration: underline;
  }
  .acim-menu > ul ul .acim-item:focus-visible {
    outline: 3px solid white;
    outline-offset: -3px;
    z-index: 1000;
  }
  .acim-menu > ul > li > .acim-item {
    line-height: 24px;
  }
}
@media (min-width: 1024px) {
  :host {
    --acim-width: 940px;
  }
}
@media (min-width: 1280px) {
  :host {
    --acim-width: 1180px;
  }
  .acim-columns {
    flex-wrap: nowrap;
    padding: 72px 0 0;
  }
  .acim-column {
    padding-bottom: 72px;
    width: calc((var(--acim-width) - 120px) / 7);
  }
  .acim-column:nth-child(4) {
    padding-right: 20px;
  }
}
