:root {
  color: #232323;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
}
h1 {
  font-size: 36px;
  font-stretch: 70%;
  font-weight: 500;
  margin-top: 60px;
}
h2 {
  font-size: 22px;
  font-weight: 800;
  margin-top: 36px;
}
h3 {
  color: var(--teal-700);
  font-size: 18px;
  font-weight: 800;
}
a {
  color: var(--contrast);
  font-weight: 800;
  text-decoration: underline;
}
a:active,
a:focus,
a:hover {
  color: var(--teal-600);
  text-decoration: none;
}
p {
  font-size: 1.125rem;
  line-height: 1.875rem;
  margin: 0 0 1.25rem;
}
.btn {
  background-color: var(--teal-700);
  border: 4px solid var(--teal-700);
  color: white;
  display: inline-block;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 6px 12px;
  text-decoration: none;
  text-transform: uppercase;
}
.secondary {
  background-color: var(--yellow-400);
  border-color: var(--yellow-400);
  color: var(--contrast);
}
.danger {
  background-color: var(--red-400);
  border-color: var(--red-400);
}
.lg {
  font-size: 20px;
  line-height: 30px;
  padding: 8px 16px;
}
.btn.active,
.btn:active,
.btn:focus,
.btn:hover {
  background-color: white;
  border-color: var(--contrast);
  color: var(--contrast);
  cursor: pointer;
}
.btn:disabled {
  background-color: var(--contrast-8);
  border-color: var(--contrast-8);
  color: var(--contrast-3);
}
.btn .bi {
  vertical-align: middle;
}
.btn + .btn {
  margin-left: 10px;
}
