:host {
  background-color: #fbfbfb;
}
.container {
  color: var(--contrast);
}
a {
  color: var(--teal-600);
  font-weight: 800;
  text-decoration: none;
}
a:active,
a:focus,
a:hover {
  text-decoration: underline;
}
.about {
  padding-top: 25px;
}
.awards {
  font-size: 15px;
  line-height: 21px;
  margin: 0 0 20px;
}
.disclaimer {
  font-size: 12px;
  line-height: 18px;
  margin: 0 0 15px;
}
.contact {
  font-size: 16px;
  font-stretch: 70%;
  text-transform: uppercase;
}
.social {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 20px 0 10px;
}
.social li {
  margin: 0 35px 0 0;
  padding: 0;
}
.social li:last-child {
  margin: -10px;
}
.social a {
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  height: 25px;
  text-indent: -999999px;
  width: 25px;
}
.bluesky {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23232323' class='bi bi-bluesky' viewBox='0 0 16 16'><path d='M3.468 1.948C5.303 3.325 7.276 6.118 8 7.616c.725-1.498 2.698-4.29 4.532-5.668C13.855.955 16 .186 16 2.632c0 .489-.28 4.105-.444 4.692-.572 2.04-2.653 2.561-4.504 2.246 3.236.551 4.06 2.375 2.281 4.2-3.376 3.464-4.852-.87-5.23-1.98-.07-.204-.103-.3-.103-.218 0-.081-.033.014-.102.218-.379 1.11-1.855 5.444-5.231 1.98-1.778-1.825-.955-3.65 2.28-4.2-1.85.315-3.932-.205-4.503-2.246C.28 6.737 0 3.12 0 2.632 0 .186 2.145.955 3.468 1.948'/></svg>");
}
.youtube {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23232323' viewBox='0 0 16 16'><path d='M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.01 2.01 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.01 2.01 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31 31 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.01 2.01 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A100 100 0 0 1 7.858 2zM6.4 5.209v4.818l4.157-2.408z'/></svg>");
}
.facebook {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23232323' viewBox='0 0 16 16'><path d='M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951'/></svg>");
}
a.linkedin {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23232323' viewBox='0 0 16 16'><path d='M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z'/></svg>");
}
.lower {
  border-top: 1px solid var(--contrast-9);
  padding: 10px 0 60px;
}
.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 20px 0 0;
  padding: 0;
}
.links li {
  padding: 0 20px 10px 0;
}
.links li:last-child {
  padding-right: 0;
}
.links a {
  font-size: 12px;
  font-weight: 600;
}
.scroll-to-top {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' stroke='white' stroke-width='1' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708z'/></svg>");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13px;
  border: 0 none transparent;
  bottom: 30px;
  cursor: pointer;
  display: block;
  height: 40px;
  opacity: 0;
  position: fixed;
  right: 30px;
  text-indent: -999999px;
  transition: opacity 0.25s ease-out;
  width: 40px;
  z-index: 100;
}
.scroll-to-top.visible {
  opacity: 1;
}
.personas {
  box-sizing: border-box;
  font-size: 15px;
  padding: 20px 0;
}
.personas p {
  margin: 0;
}
.personas ul {
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
}
.personas li {
  padding: 3px 0;
}
@media (min-width: 1024px) {
  .lower {
    align-items: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .links {
    margin-top: 0;
  }
}
@media (min-width: 900px) {
  .upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .upper > * {
    width: calc((var(--width) - 20px) / 2);
  }
  .about {
    padding: 40px 0 30px;
  }
  .awards {
    font-size: 18px;
    line-height: 24px;
  }
  .personas {
    font-size: 18px;
    padding: 40px calc(((var(--width) - 140px) / 8) + 20px) 30px;
  }
}
