.menu {
  --icon-caret-down-dark: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23232323' viewBox='0 0 16 16'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>");
  --icon-caret-down-light: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>");
  --icon-caret-down-teal: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23107180' viewBox='0 0 16 16'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>");
}
.universal {
  --background: var(--teal-700);
  --border: rgba(19, 133, 151, 0.35);
}
.site {
  --background: var(--teal-600);
  --border: #157688;
}
.site ul ul {
  --border: rgba(19, 133, 151, 0.35);
}
.menu ul,
.menu li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu a {
  text-decoration: none;
}
.item {
  background: transparent;
  border: 0 none transparent;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  text-align: left;
  width: 100%;
}
.item {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  padding: 13.5px var(--padding) 13.5px;
}
.menu > ul > li > .item {
  font-weight: 800;
}
.item,
.menu li:last-child li:last-child > .item {
  border-bottom: 1px solid var(--border);
}
.menu li.highlight button.item,
.menu li:last-child > .item,
.menu > .collapsed {
  border-bottom: 0 none transparent;
}
.expanded {
  border-bottom-width: 2px;
}
.menu button.item {
  position: relative;
}
.menu > button.item {
  font-weight: 500;
  padding: 13.5px var(--padding) 13.5px;
  text-transform: uppercase;
}
.menu button.item::after {
  background-image: var(--icon-caret-down-light);
  background-repeat: no-repeat;
  background-size: 18px;
  content: "";
  display: block;
  height: 18px;
  right: calc(var(--padding) + var(--offset));
  position: absolute;
  top: 15px;
  width: 18px;
}
.menu button.item.expanded::after {
  transform: rotate(180deg);
}
.menu .highlight button.item::after {
  background-image: var(--icon-caret-down-dark);
}
.menu button.item,
.menu ul li {
  background-color: var(--background);
}
.menu button.item,
.menu ul li a {
  color: var(--color);
}
.menu ul li li {
  background-color: white;
}
.menu ul li li a {
  color: rgb(19, 133, 151);
}
.icon > .item {
  background-position: calc(var(--padding) + var(--offset)) center;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  text-indent: -99999px;
}
.icon-home > .item {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'><path d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5'/></svg>");
}
.icon-search > .item {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' viewBox='0 0 16 16'><path d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0'/></svg>");
}
.track .item {
  text-transform: uppercase;
  padding-top: 4px;
  padding-bottom: 4px;
}
.track:first-child .item {
  padding-top: 17px;
}
.track.grow .item {
  padding-bottom: 21px;
}
.track .item {
  border-bottom: 0 none transparent;
}
.highlight button.item {
  background-color: var(--yellow-400);
  color: var(--contrast);
}
.footer {
  background-color: var(--teal-700);
  padding: 50px var(--padding) 36px;
  color: white;
}
.footer h2 {
  font-size: 14px;
  font-weight: 600;
  margin: 0 auto 20px;
  text-transform: uppercase;
  width: var(--width);
}
.columns {
  margin: 0 auto;
  width: var(--width);
}
.column {
  padding-bottom: 14px;
}
.footer a,
.footer a:visited {
  color: white;
  text-decoration: none;
}
.footer a:active,
.footer a:focus,
.footer a:hover {
  color: var(--teal-100);
  text-decoration: underline;
}
.footer h3 {
  font-size: 14px;
  font-weight: 800;
  margin: 0;
}
.footer ul {
  margin: 0;
  padding: 0;
}
.footer li {
  font-size: 14px;
  font-weight: 600;
  list-style-type: none;
  padding: 14px 0 0;
}
@media (min-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 0 10px;
  }
  .column {
    padding-bottom: 40px;
    padding-right: 20px;
    width: calc((var(--width) - 60px) / 4);
  }
  .column:nth-child(4),
  .column:last-child {
    padding-right: 0;
  }
}
@media (min-width: 1280px) {
  .site {
    --background: white;
    --color: var(--teal-600);
    --outline: var(--teal-700);
    --padding: 20px;
    border-bottom: 1px solid #d9d9d9;
    border-top: 3px solid var(--teal-700);
  }
  .site > ul {
    justify-content: end;
  }
  .menu > button.item {
    display: none;
  }
  .menu > ul {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: calc(var(--width) + (2 * var(--padding)));
  }
  .item,
  .track .item,
  .track:first-child .item,
  .track.grow .item {
    border-bottom: 0 none transparent;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .site .item {
    font-size: 16px;
  }
  .grow {
    flex: 1 0 auto;
  }
  .universal {
    background-color: var(--teal-700);
  }
  .universal > ul > li:first-child {
    margin-left: -10px;
  }
  .universal > ul > li:last-child {
    margin-right: -10px;
  }
  .universal li button.item {
    --padding: 20px;
  }
  .icon > .item {
    background-position: center center;
    width: 56px;
  }
  .menu button.item::after,
  .menu button.item.expanded::after,
  .menu .highlight button.item::after,
  .menu .highlight button.item.expanded::after {
    display: inline-block;
    margin-left: 5px;
    position: static;
    vertical-align: middle;
  }
  .menu button.item::after {
    background-image: var(--icon-caret-down-teal);
  }
  .universal button.item::after {
    background-image: var(--icon-caret-down-light);
  }
  .menu button.item.expanded::after,
  .menu button.item.item:active::after,
  .menu button.item.item:focus::after,
  .menu button.item.item:hover::after {
    background-image: var(--icon-caret-down-light);
  }
  .menu > ul > li {
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: relative;
  }
  .menu > ul > li.grow > .item {
    flex: 0 1 0;
  }
  .menu > ul > li.active > .item,
  .menu > ul > li > .expanded,
  .menu > ul > li > .item:active,
  .menu > ul > li > .item:focus,
  .menu > ul > li > .item:hover {
    background-color: var(--teal-600);
    color: white;
    outline: 0 none transparent;
  }
  .menu > ul > li > .item:focus-visible {
    outline: 3px solid var(--outline);
    outline-offset: -3px;
    z-index: 1000;
  }
  .menu > ul ul {
    background-color: var(--teal-600);
    padding: 10px 0;
    position: absolute;
    right: 0;
    top: 48px;
    z-index: 9999;
  }
  .menu > ul ul li {
    background-color: var(--teal-600);
  }
  .menu > ul ul .item {
    color: white;
    white-space: nowrap;
    padding: 5px 20px;
  }
  .menu > ul ul .item:active,
  .menu > ul ul .item:focus,
  .menu > ul ul .item:hover {
    color: #cee8e9;
    outline: 0 none transparent;
    text-decoration: underline;
  }
  .menu > ul ul .item:focus-visible {
    outline: 3px solid white;
    outline-offset: -3px;
    z-index: 1000;
  }
  .menu > ul > li > .item {
    line-height: 24px;
  }
}
@media (min-width: 1280px) {
  .columns {
    flex-wrap: nowrap;
    padding: 10px 0 0;
  }
  .column {
    padding-bottom: 72px;
    width: calc((var(--width) - 120px) / 7);
  }
  .column:nth-child(4) {
    padding-right: 20px;
  }
}
