.resource-group {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.resource-group-image {
  border: 1px solid var(--contrast);
  flex: 0 0 auto;
  margin-right: 20px;
  position: relative;
  width: calc((var(--width) - 140px) / 4 + 20px);
}
.resource-group-image > * {
  display: block;
  width: 100%;
}
.image-type-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 120px;
}
.image-type-logo > * {
  margin: 10px;
  width: calc(100% - 20px);
}
.resource-group-text *:first-child {
  margin-top: 0;
}
