.tippy-box[data-theme~="access"] {
    background-color: var(--teal-700);
    border-radius: 0;
    color: white;
    font-weight: 400;
    padding: 5px;
}
.tippy-box[data-theme~="access"][data-placement^="top"] > .tippy-arrow::before {
    border-top-color: var(--teal-700);
}
.tippy-box[data-theme~="access"][data-placement^="bottom"]
    > .tippy-arrow::before {
    border-bottom-color: var(--teal-700);
}
.tippy-box[data-theme~="access"][data-placement^="left"]
    > .tippy-arrow::before {
    border-left-color: var(--teal-700);
}
.tippy-box[data-theme~="access"][data-placement^="right"]
    > .tippy-arrow::before {
    border-right-color: var(--teal-700);
}
